{% extends 'base-front.html.twig' %}

{% block body %}
<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>

<div class="page-wrapper">
        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->
        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header-bg" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg)">
            </div>
            <div class="container">
                <div class="page-header__inner">
                    <h2>Votre Profile</h2>
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="index.html">Home</a></li>
                        <li><span>/</span></li>
                        <li>Votre Profile</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--Team Page Start-->
        <section class="team-page">
            <div class="container">
                <div class="row">
                    <!--Team One Single Start-->
                    <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                        <div class="team-one__single">
                            <div class="team-one__img-box">
                                <div class="team-one__img">
                                   <img src="{{ asset('/upload-images/' ~ app.user.getProfilePicture()) }}" alt="Profile Picture" class="profile-image" Image"style=width: 400px; height: 250px;">
                                </div>
                                <div class="team-one__shape-1"></div>
                                <div class="team-one__name-box">
                                    <h3><a href="team-details.html"><span>{{ app.user.nom }}</span>
                                            <br>  {{ app.user.prenom }}</a></h3>
                                </div>
                                <div class="team-one__sub-title-and-share-btn">
                                    <div class="team-one__sub-title">
                                        <p>-  {{ app.user.email }}</p>
                                    </div>
                                    <div class="team-one__share-and-email">
                                        <a href="{{ path('app_logout') }}" class="logout-btn">Logout</a>
                                    </div>
                                </div>
                                <ul class="list-unstyled team-one__social">
                                    <li><a href="team-details.html"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="team-details.html"><i class="fab fa-facebook"></i></a></li>
                                    <li><a href="team-details.html"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="team-details.html"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>        
           </section>
               

</div>
</body>
{% endblock %}
