{% extends 'base-front.html.twig' %}
	{% block title %}Détails de  la publication{% endblock %}
{% block sidebar %}
 <li class="dropdown">
  <a href="{{ listPublicationUrl }}">Publications</a>
 </li>{% endblock %}
{% block body %}
{% include 'chat.html.twig' %}

  <!--Page Header Start-->
        <section class="page-header">
              <div class="page-header-bg" style="background-image: url('{{ asset('front-office/images/backgrounds/page-header-bg.jpg') }}')">
            </div>
            <div class="container">
                <div class="page-header__inner">
                    <h2>Détails de  la publication</h2>
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="index.html">Home</a></li>
                        <li><span>/</span></li>
                        <li>Blog</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--Blog Details Start-->
        <section class="blog-details">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-7">
                        <div class="blog-details__left">
                            <div class="blog-details__img">
                                        <img src="{{ asset('/upload-images/' ~ publication.getImageP()) }}" alt="Publication Image"style="width: 750px; height: 500px;">

                                <div class="blog-details__date">
                                    <p>20
                                        <br> Mar</p>
                                </div>
                            </div>
                            <div class="blog-details__content">
                                <ul class="blog-details__meta list-unstyled">
                                    <li>
                                       <div class="user-info" style="display: flex; align-items: center;">
                                         <div class="comment-one__image" style="width: 30px; height: 30px;">
        <img src="{{ asset('/upload-images/' ~ publication.IDUser.getProfilePicture()) }}" style="width: 100%; height: 100%;">
    </div>
    <a href="blog-details.html" style="margin-right: 10px;">
        <i></i>by {{ publication.IDUser.nom }} {{ publication.IDUser.prenom }} 
    </a>
  
</div>

                                    </li>
                                    <li>
                                        <a href="blog-details.html"><i class="fas fa-comments"></i>{{ commentairesParPublication[publication.id] }} Comments</a>
                                    </li>
                                </ul>
                                <h3 class="blog-details__title">{{ publication.getTitreP() }}
                                </h3>
                                <p class="blog-details__text-1">{{ publication.getDescriptionP() }}</p>
                                <p class="blog-details__text-2">{{ publication.getDateP()|date('Y-m-d') }}</p>
                                   <!-- Ajoutez les boutons de like et dislike ici -->
<a href="#" class="like-btn" data-id="{{ publication.id }}" data-action="like">
    <i class="fas fa-thumbs-up"></i> Like (<span class="like-count" id="like-count-{{ publication.id }}">{{ likesCount }}</span>)
</a>
<a href="#" class="dislike-btn" data-id="{{ publication.id }}" data-action="dislike">
    <i class="fas fa-thumbs-down"></i> Dislike (<span class="dislike-count" id="dislike-count-{{ publication.id }}">{{ dislikesCount }}</span>)
</a>

 
                                <div class="blog-details__bottom">
                                    <p class="blog-details__tags">
                                        <span>Top Publications</span>
                                     
                                        <a href="{{ listPublicationUrl }}">Retour à la liste des publications</a>


                                    </p>
                                    <div class="blog-details__social-list">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-facebook"></i></a>
                                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="blog-details__pagenation">
                                     {% for publication in topPublications %}
                                    <div  class="blog-details__pagenation-right" data-href="{{ path('publication_details', {'id': publication.id}) }}">
                                        <div class="blog-details__pagenation-right-content">
                                            <p class="blog-details__pagenation-right-date"><i class="fas fa-clock"></i>
                                                {{ publication.getDateP()|date('Y-m-d') }}</p>
                                            <h4 class="blog-details__pagenation-right-title">
                                             {{ publication.getTitreP() }}
                                             <span class="sidebar__post-content-meta"><i class="fa fa-comments"></i>{{ commentairesParPublication[publication.id] }} 
                                                    </span>
                                            
                                            </h4>
                                        </div>
                                        <div class="blog-details__pagenation-right-img">
                                             <img src="{{ asset('/upload-images/' ~ publication.getImageP()) }}" alt="Publication Image">

                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <h3 class="comment-one__title">{{ commentairesParPublication[publication.id] }} Comments</h3>
                             <div id="comment-section">
    {% for commentaire in commentaires %}
        <div class="comment-one">
            <div class="comment-one__single">
                <div class="comment-one__image">
                     <img src="{{ asset('/upload-images/' ~ commentaire.IDUser.getProfilePicture()) }}" style="width: 150px; height: 150px;">

                </div>
                <div class="comment-one__content">
                    <h3> {{ commentaire.IDUser.nom }} {{ commentaire.IDUser.prenom }}</h3>
                    <p>{{ commentaire.getContenuC() }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div id="new-comment-section"></div>


                                <div class="comment-form">
                                <h3 class="comment-form__title">Leave a Comment</h3>
                                                    {# Assuming 'form' represents the Commentaire form #}
                            <form action="{{ path('add_comment', {'id': publication.id}) }}" method="post" class="comment-one__form contact-form-validated" nov alidate>
                                {{ form_start(formB) }}
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="comment-form__input-box text-message-box">
                                            {{ form_row(formB.Contenu_C, {'attr': {'placeholder': 'Write your comment here'}}) }}
                                            {{ form_widget(formB.publication, {'value': publication.id}) }}
                                            </div>
                                        <div class="comment-form__btn-box">
                                            <button type="submit" class="thm-btn comment-form__btn">Submit Comment</button>
                                        </div>
                                    </div>
                                </div>
                                {{ form_end(formB) }}
                            </form>



                                <div class="result"></div>
                            </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="sidebar">
                            <div class="sidebar__single sidebar__search">
                                <form action="#" class="sidebar__search-form">
                                    <input type="search" placeholder="Keywrord...">
                                    <button type="submit"><i class="icon-magnifying-glass"></i></button>
                                </form>
                            </div>
                            <div class="sidebar__single sidebar__post">
                                <h3 class="sidebar__title">Autre publications</h3>
                                  {% for publication in publications %}              
                                <ul class="sidebar__post-list list-unstyled">
                                
                                    <li>
                                        <div class="sidebar__post-image">
                                  <img src="{{ asset('/upload-images/' ~ publication.getImageP()) }}" alt="Publication Image">

                                        </div>
                                        <div class="sidebar__post-content">
                                            <h3>
                                                <span class="sidebar__post-content-meta"><i class="fa fa-comments"></i>{{ commentairesParPublication[publication.id] }} 
                                                    Comments</span>
                                               <a href="{{ path('publication_details', {'id': publication.id}) }}">pub n°{{ publication.id }}: <br>{{ publication.getTitreP() }}
                                                </a>
                                            </h3>
                                        </div>
                                    </li>
                                </ul>
                                {% endfor %}
                            </div>
                            <div class="top-publications">
</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Blog Details End-->
<script>
    document.querySelectorAll('.blog-details__pagenation-right').forEach(function(div) {
        div.addEventListener('click', function() {
            window.location.href = this.getAttribute('data-href');
        });
    });
</script>
<script>
    const url = new URL('http://localhost:3000/.well-known/mercure');
    url.searchParams.append('topic', 'publication/{{ publication.id }}');

    const eventSource = new EventSource(url);
    eventSource.onmessage = event => {
        const data = JSON.parse(event.data);
        console.log(data);

        // Ajouter le nouveau commentaire à la liste des commentaires
        const commentSection = document.getElementById('comment-section');
        const newComment = document.createElement('div');
        newComment.classList.add('comment-one__single');
        newComment.innerHTML = `
            <div class="comment-one__image">
                <img src="{{ asset('front-office/images/blog/comment-1-1.jpg') }}" alt="">
            </div>
            <div class="comment-one__content">
                <h3>user: ${data.user}</h3>
                <p>${data.message}</p>
            </div>
        `;
        commentSection.appendChild(newComment);
    };
</script>


<script>
   document.querySelectorAll('.like-btn, .dislike-btn').forEach(button => {
    button.addEventListener('click', function(event) {
        event.preventDefault();
        const publicationId = this.dataset.id;
        const action = this.dataset.action;

        fetch(`/${action}/${publicationId}`, {
            method: 'POST',
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({id: publicationId})
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                document.getElementById('like-count-' + publicationId).textContent = data.likesCount;
                document.getElementById('dislike-count-' + publicationId).textContent = data.dislikesCount;
            } else {
                alert(data.message);
            }
        })
        .catch(error => console.error('Error:', error));
    });
});

</script>

{% endblock %}

