{% extends 'base-back.html.twig' %}

{% block css %}
    {{ parent() }}
    <style>
        /* Custom CSS Styles */
        .container {
            margin-top: 50px;
            margin-left: 20px; /* Adjust the margin-left as needed */
            margin-right: 20px; /* Optionally, add margin-right for spacing */
        }
        h1 {
            color: #ffffff;
            text-align: center;
            margin-bottom: 30px;
        }
        th {
            color: #ffffff;
        }
        .btn {
            margin-right: 5px;
        }
    </style>
{% endblock %}


{% block title %}User index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Users list</h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Age</th>
                
                <th>IsBanned</th>
                <th>IsVerified</th>
                
            </tr>
            </thead>
            <tbody>
            {% for user in user%}
                <tr>
                    <td>{{ User.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    <td>{{ user.password }}</td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.age }}</td>
                   
                    <td>{{ user.isBanned ? 'Yes' : 'No' }}</td>
                    <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>>
                    <td>
                        <a href="{{ path('app_admin_index', {'id': user.id}) }}" class="btn btn-primary">Show</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_register') }}" class="btn btn-success">Create new</a>
    </div>

    <h1>Create new User</h1>

    {{ include('admin/_form.html.twig') }}

    <a href="{{ path('app_admin_index') }}">back to list</a>
{% endblock %}