
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from bracketweb.com/delogis-html/main-html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 08 Feb 2024 00:08:26 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} IjaNahkiw {% endblock %}</title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{asset('front-office/images/favicons/apple-touch-icon.png')}}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{asset('front-office/images/favicons/favicon-32x32.png')}}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{asset('front-office/images/favicons/favicon-16x16.png')}}" />
    <link rel="manifest" href="{{asset('front-office/images/favicons/site.webmanifest')}}" />
    <meta name="description" content="delogis HTML 5 Template " />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&amp;display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{asset('front-office/vendors/bootstrap/css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{asset('front-office/vendors/animate/animate.min.css')}}" />
    <link rel="stylesheet" href="{{asset('front-office/vendors/animate/custom-animate.css')}}" />
    <link rel="stylesheet" href="{{asset('front-office/vendors/fontawesome/css/all.min.css')}}" />
    <link rel="stylesheet" href="{{asset('front-office/vendors/jarallax/jarallax.css')}}" />
    <link rel="stylesheet" href="{{asset('front-office/vendors/jquery-magnific-popup/jquery.magnific-popup.css')}}" />
    <link rel="stylesheet" href="{{asset('front-office/vendors/nouislider/nouislider.min.css')}}" />
    <link rel="stylesheet" href="{{asset('front-office/vendors/nouislider/nouislider.pips.css')}}" />
    <link rel="stylesheet" href="{{asset('front-office/vendors/odometer/odometer.min.css')}}" />
    <link rel="stylesheet" href="{{asset('front-office/vendors/swiper/swiper.min.css')}}" />
    <link rel="stylesheet" href="{{asset('front-office/vendors/delogis-icons/style.css')}}" />
    <link rel="stylesheet" href="{{asset('front-office/vendors/tiny-slider/tiny-slider.min.css')}}" />
    <link rel="stylesheet" href="{{asset('front-office/vendors/reey-font/stylesheet.css')}}" />
    <link rel="stylesheet" href="{{asset('front-office/vendors/alagambe-font/stylesheet.css')}}" />
    <link rel="stylesheet" href="{{asset('front-office/vendors/owl-carousel/owl.carousel.min.css')}}" />
    <link rel="stylesheet" href="{{asset('front-office/vendors/owl-carousel/owl.theme.default.min.css')}}" />
    <link rel="stylesheet" href="{{asset('front-office/vendors/bxslider/jquery.bxslider.css')}}" />
    <link rel="stylesheet" href="{{asset('front-office/vendors/bootstrap-select/css/bootstrap-select.min.css')}}" />
    <link rel="stylesheet" href="{{asset('front-office/vendors/vegas/vegas.min.css')}}" />
    <link rel="stylesheet" href="{{asset('front-office/vendors/jquery-ui/jquery-ui.css')}}" />
    <link rel="stylesheet" href="{{asset('front-office/vendors/timepicker/timePicker.css')}}" />

    <!-- template styles -->
    <link rel="stylesheet" href="{{asset('front-office/css/delogis.css')}}" />
    <link rel="stylesheet" href="{{asset('front-office/css/delogis-responsive.css')}}" />
</head>


    <div class="page-wrapper">

        <header class="main-header">
            <nav class="main-menu">
                <div class="main-menu__wrapper">
                    <div class="main-menu__wrapper-inner">
                        <div class="main-menu__logo">
                            <a href="index.html"><img src="{{asset('front-office/images/resources/logo-1.png')}}" alt=""></a>
                        </div>
                        <div class="main-menu__btn-box">
                            <a href="make-appointment.html">Réserver Consultation</a>
                        </div>
                        <div class="main-menu__wrapper-inner-content">
                            <div class="main-menu__top">
                                <div class="main-menu__top-inner">
                                    <div class="main-menu__top-left">
                                    
                                        <ul class="list-unstyled main-menu__top-menu">
                                            <li><a href="about.html">About</a></li>
                                            <li><a href="faq.html">Faqs</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </div>
                        
                                </div>
                            </div>
                             <div class="main-menu__bottom">
                                <div class="main-menu__bottom-inner">
                                    <div class="main-menu__main-menu-box">
                                        <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                                        <ul class="main-menu__list"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <li class="dropdown current megamenu">
                                                <a href="index.html">Acceuil </a>
                                              
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">Plus +</a>
                                                <ul class="sub-menu">
                                                    <li><a href="about.html">à propos</a></li>
                                                    <li><a href="team.html">Nos Thérapeutes</a></li>
                                                    <li><a href="gallery.html">Motivation</a></li>
                                                    <li><a href="faq.html">Formulaire</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a href="services.html">Programmes</a>
                                        
                                            </li>
                                                                                    
                                            <li class="dropdown">
                                                <a href="ListPublication">Publications</a>
                                               
                                            </li>
                                            <li>
                                                <a href="contact.html">Contact</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="main-menu__right">
                                        <div class="main-menu__call">
                                            <div class="main-menu__call-icon">
                                                <span class="icon-phone-call"></span>
                                            </div>
                                            <div class="main-menu__call-content">
                                                <p class="main-menu__call-sub-title">Have Question?</p>
                                                <h5 class="main-menu__call-number"><a href="tel:9288009850">+92 (8800) -
                                                        9850</a>
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="main-menu__search-cart-box">
                                            <div class="main-menu__search-box">
                                                <a href="#"
                                                    class="main-menu__search search-toggler icon-magnifying-glass"></a>
                                            </div>
                                         
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
  
      {% block body %}

{% endblock %}

<footer class="site-footer">
            <div class="site-footer__shape-1 float-bob-y">
                <img src="{{asset('front-office/images/shapes/site-footer-shape-1.png')}}" alt="">
            </div>
            <div class="site-footer__top">
                <div class="container">
                    <div class="site-footer__top-inner">
                        <div class="site-footer__top-left">
                            <div class="site-footer__top-icon">
                                <span class="icon-business-people"></span>
                            </div>
                            <div class="site-footer__top-content">
                                <h3>Votre consultation: <span> est a Lun 14:00</span></h3>
                            </div>
                        </div>
                        <div class="site-footer__top-right">
                            <div class="site-footer__social-shape-1 float-bob-y">
                                <img src="{{asset('front-office/images/shapes/site-footer-social-shape.png')}}" alt="" class="zoom-fade">
                            </div>
                            <div class="site-footer__social-title">
                               
                            </div>
                            <div class="site-footer__social">
                               
                                <a href="https://www.facebook.com/profile.php?id=100070570958728"><i class="fab fa-facebook"></i></a>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="site-footer__middle">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                            <div class="footer-widget__column footer-widget__about">
                                <div class="footer-widget__logo">
                                    <a href="index.html"><img src="{{asset('front-office/images/resources/footer-logo.png')}}" alt=""></a>
                                </div>
                                <p class="footer-widget__about-text">Meilleure psychologie et conseils pour vous aider à comprendre les problèmes.</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                            <div class="footer-widget__column footer-widget__link">
                                <div class="footer-widget__title-box">
                                    <h3 class="footer-widget__title">Explorer</h3>
                                </div>
                                <ul class="footer-widget__link-list list-unstyled">
                                    <li><a href="about.html">à propos</a></li>
                                    <li><a href="make-appointment.html">Réservation</a></li>
                                    <li><a href="blog.html">Publications</a></li>
                                    <li><a href="team.html">Nos Thérapeutes</a></li>
                                    <li><a href="faq.html">Formulaire</a></li>
                                    <li><a href="contact.html">Contacte</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                            <div class="footer-widget__column footer-widget__Contact">
                                <div class="footer-widget__title-box">
                                    <h3 class="footer-widget__title">Contact</h3>
                                </div>
                                <ul class="footer-widget__Contact-list list-unstyled">
                                    <li>
                                    
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="fas fa-envelope"></span>
                                        </div>
                                        <div class="text">
                                            <span>Send Email</span>
                                            <p><a href="mailto:needhelp@company.com">ija.nahkiw@gmail.com</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="fas fa-phone-square"></span>
                                        </div>
                                        <div class="text">
                                            <span>Call Anytime</span>
                                            <p><a href="tel:+21650312709">+216 50 312 709</a></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                            <div class="footer-widget__column footer-widget__newsletter">
                                <br><br><br>
                              
                
                                <form class="footer-widget__email-box" data-url="MC_FORM_URL">
                            
                                    <button type="submit" class="footer-widget__subscribe-btn thm-btn">Register
                                        Yourself</button>
                                </form>
                                <div class="mc-form__response"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer__bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="site-footer__bottom-inner">
                                <p class="site-footer__bottom-text">© Copyright 2023 by <a href="#">Company.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="icon-up-arrow"></i></a>

<script src="{{asset('front-office/vendors/jquery/jquery-3.6.0.min.js')}}"></script>
<script src="{{asset('front-office/vendors/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{asset('front-office/vendors/jarallax/jarallax.min.js')}}"></script>
<script src="{{asset('front-office/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js')}}"></script>
<script src="{{asset('front-office/vendors/jquery-appear/jquery.appear.min.js')}}"></script>
<script src="{{asset('front-office/vendors/jquery-circle-progress/jquery.circle-progress.min.js')}}"></script>
<script src="{{asset('front-office/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js')}}"></script>
<script src="{{asset('front-office/vendors/jquery-validate/jquery.validate.min.js')}}"></script>
<script src="{{asset('front-office/vendors/nouislider/nouislider.min.js')}}"></script>
<script src="{{asset('front-office/vendors/odometer/odometer.min.js')}}"></script>
<script src="{{asset('front-office/vendors/swiper/swiper.min.js')}}"></script>
<script src="{{asset('front-office/vendors/tiny-slider/tiny-slider.min.js')}}"></script>
<script src="{{asset('front-office/vendors/wnumb/wNumb.min.js')}}"></script>
<script src="{{asset('front-office/vendors/wow/wow.js')}}"></script>
<script src="{{asset('front-office/vendors/isotope/isotope.js')}}"></script>
<script src="{{asset('front-office/vendors/countdown/countdown.min.js')}}"></script>
<script src="{{asset('front-office/vendors/owl-carousel/owl.carousel.min.js')}}"></script>
<script src="{{asset('front-office/vendors/bxslider/jquery.bxslider.min.js')}}"></script>
<script src="{{asset('front-office/vendors/bootstrap-select/js/bootstrap-select.min.js')}}"></script>
<script src="{{asset('front-office/vendors/vegas/vegas.min.js')}}"></script>
<script src="{{asset('front-office/vendors/jquery-ui/jquery-ui.js')}}"></script>
<script src="{{asset('front-office/vendors/timepicker/timePicker.js')}}"></script>
<script src="{{asset('front-office/vendors/circleType/jquery.circleType.js')}}"></script>
<script src="{{asset('front-office/vendors/circleType/jquery.lettering.min.js')}}"></script>



